.emplist-main {
  cursor: pointer;
  height: auto;
  box-shadow: 0px 3px 6px #00000029;
  width: calc(100% - 360px);
  margin-left: 315px;
  margin-right: 15px;

  border-radius: 5px;
  display: flex;
  padding: 0 15px;
  align-items: center;

  /* justify-content: space-betwe; */
}
.emplist-main:hover {
  background-color: beige;
}

.emp {
  width: calc(100% / 9);
  height: auto;
  padding: 15px;
}

.button-action {
  border: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.button-action:hover {
  cursor: pointer;
}

.delete-alert {
  z-index: 12;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(63, 61, 61, 0.356);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-box {
  width: 350px;
  height: 180px;
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  justify-content: center;
  padding: 15px;
}
.text {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  flex: 2;
}
.text-confirm {
  flex: 2;
}

.buttons {
  display: flex;
  gap: 20px;
  width: 75%;
  flex: 2;
}

.close {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  font-size: 15px;
  flex: 1;
}
.close > button {
  font-size: 18px;
  background-color: white;
  border: none;
  outline: none;
  color: rgba(155, 155, 152, 0.979);
}
.disable {
  pointer-events: none;
}
.nocursor {
  cursor: not-allowed;
}
