.Button-primary {
  width: 50%;
  height: 40px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #03aeee;
  background: #03aeee 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #b0e6fa;
  border-radius: 3px;
  opacity: 1;
}

.Button-primary:hover {
  width: 50%;
  height: 40px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: 3px solid #03afeec9;
  background: #11baf8 0% 0% no-repeat padding-box;
  box-shadow: 3px 6px 9px #b0e6fa;
  border-radius: 3px;
  opacity: 1;
}

.Button-secondary{
  width: 50%;
  height: 40px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #03aeee;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #b0e6fa;
  border-radius: 3px;
  opacity: 1;
}
.Button-secondary:hover{
  width: 50%;
  height: 40px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #03aeee;
  background: #b5b8b9 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #b0e6fa;
  border-radius: 3px;
  opacity: 1;
}